<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Publicacion</title>
    <link rel="shortcut icon" href="/static/images/icono.jpg" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='publicaciones.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    />
  </head>
  <body>
    <nav class="navtop">
			
			<div>
				<h1><a href="{{ url_for('home') }}" id="alhome">MASCOTAPP</a></h1>
                <a href="{{ url_for('edit') }}"><i class="fas fa-user-edit"></i>Editar</a>
				<a href="{{ url_for('publicacion') }}"><i class="fas fa-regular fa-upload"></i>Publicar</a>
				<a href="{{ url_for('publicaciones') }}"><i class="fas fa-regular fa-list"></i>Publicaciones</a>			
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a>
			</div>
		</nav>

<h1>Publicaciones</h1>
<div class="container">
  <p style="color: #ffffff; text-align:center">Filtrar</p>
<form id="filtrar"action="">
   <input type="radio" id="perdidas" name="tipoPub" value="perdidas">
   <label for="perdidas">Perdidas</label><br>
   <input type="radio" id="encontradas" name="tipoPub" value="encontradas">
   <label for="encontradas">Encontradas</label><br>
   <input type="radio" id="todas" name="tipoPub" value="todas">
   <label for="todas">Todas</label>
</form>
</div>


<table>
    <th>Nombre de la mascota</th>
    <th>Foto</th>
    <th>Sexo</th>
    <th>Edad</th>
    <th>Ubicacion</th>
    <th>Calles</th>
    <th>Fecha</th>
    <th>Mensaje</th>
    
    <tbody>
      
    {% for publicacion in publicaciones %}
        <tr>
            
            <td>{{ publicacion.nombreMascota }}</td>
            <td><img onerror="this.style.display='none'" class="foto" src="{{url_for('publicacion_foto', idPublicacion=publicacion.idPublicacion)}}" /></td>
            <td>{{ publicacion.sexo}}</td>
            <td>{{ publicacion.edad}}</td>
            <td>{{ publicacion.ubicacion}}</td>
            <td>{{ publicacion.calles}}</td>
            <td>{{ publicacion.fecha}}</td>
            <td>{{ publicacion.mensaje}}</td>
            <td id="options">
                <a href="/delete/{{publicacion.idPublicacion}}" class="btn btn-secondary btn-delete">Delete</a>
          </td>

        </tr>
</tbody>
    {% endfor %}
</table>
</body>

